/*
*Color codes:
*Green: #01f58d;
        rgb(1, 245, 141);

text: #d8d6d8;
      rgb(216, 214, 216);

blue: #1500aa;
      rgb(21, 0, 170);
*/

*
{
    font-family: 'Arvo', serif;
}

/*navbar style*/
#logout-link
{
    color: #01f58d;
}