/*
*Color codes:
*Green: #01f58d;
        rgb(1, 245, 141);

text: #d8d6d8;
      rgb(216, 214, 216);

blue: #1500aa;
      rgb(21, 0, 170);
*/

*
{
    font-family: 'Arvo', serif;
}

/*uper navbar info style*/
#extras
{
    background-color: #1500aa;
    color: #01f58d;
    padding: 20px 0;
    font-size: 20px;
}

#extras a
{
    text-decoration: none;
    color: #01f58d;
}

h1

{
    margin-bottom: 30px;
}

#sort-option
{
    margin-bottom: 30px;
}

/*navbar style*/
.navbar-brand
{
    color: #01f58d !important;
    font-size: 30px;
}

.navbar #singin-link
{
    text-decoration: none;
    color: #01f58d;
    text-align: right;
}

.col-md-4
{
    margin-bottom: 30px;
}

#animals_list
{
    padding: 50px;
}

.card
{
    padding: 0px 0px 30px 0px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#btn1
{
    background-color: white;
    color: #01f58d;
    border-radius: 20px;
}

#btn1:hover
{
    background-color: #01f58d;
    color: white;
}

/*select style*/
select
{
    background-color: #1500aa;
    color: white;
    border-radius: 20px;
}
