/*
*Color codes:
*Green: #01f58d;
        rgb(1, 245, 141);

text: #d8d6d8;
      rgb(216, 214, 216);

blue: #1500aa;
      rgb(21, 0, 170);
*/

*
{
    font-family: 'Arvo', serif;
}

/*uper navbar info style*/
#extras
{
    background-color: #1500aa;
    color: #01f58d;
    padding: 20px 0;
    font-size: 20px;
}

#extras a
{
    text-decoration: none;
    color: #01f58d;
}

/*navbar style*/
.navbar-brand
{
    color: #01f58d !important;
    font-size: 30px;
}

.navbar #singin-link
{
    text-decoration: none;
    color: #01f58d;
    text-align: right;
}